.label
{
  -fx-font-family:KaiTi;
  -fx-text-fill:black;

}
.split-pane:vertical > .split-pane-divider{
    -fx-background-color: rgba(218, 243, 255);
}
.anchorpane{
    -fx-border-width: 0 0 6px 0;
    -fx-border-color: rgba(75, 155, 185, 0.11);
}
.button{
    -fx-background-color:white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;

}

.button:hover{
    -fx-background-color:rgba(218, 243, 255);

}
.button1{
    -fx-background-color:white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}
.button1:hover{
    -fx-background-color:rgba(218, 243, 255);
}

#sort{
    -fx-background-color:white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}


.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
/*.table-view .corner {*/
/*    -fx-background-color: transparent;*/
/*}*/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
/*.table-row-cell:hover {*/
/*    -fx-background-color: #93f9b911;*/
/*    -fx-text-background-color: red;*/
/*}*/
/*.table-row-cell:selected{*/
/*    -fx-text-fill: blue;*/
/*}*/
/*.table-row-cell:odd{*/
/*    -fx-background-color: #93f9b911;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/
/*.table-row-cell:even{*/
/*    -fx-background-color: #1dbbdd11;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/



/*.table-view .virtual-flow .scroll-bar:vertical,*/
/*.table-view .virtual-flow .scroll-bar:vertical .track,*/
/*.table-view .virtual-flow .scroll-bar:vertical .track-background,*/
/*.table-view .virtual-flow .scroll-bar:horizontal,*/
/*.table-view .virtual-flow .scroll-bar:horizontal .track,*/
/*.table-view .virtual-flow .scroll-bar:horizontal .track-background {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.table-view .virtual-flow .scroll-bar .increment-button,*/
/*.table-view .virtual-flow .scroll-bar .decrement-button {*/
/*    -fx-opacity: 0;*/
/*    -fx-padding: 2;*/
/*}*/
/*.table-view .virtual-flow .scroll-bar:vertical .thumb{*/
/*    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
/*}*/
/*.table-view .virtual-flow .scroll-bar:horizontal .thumb {*/
/*    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);*/
/*}*/