.label
{
  -fx-font-family:KaiTi;
  -fx-text-fill:black;

}
.sub-btn {
    -fx-pref-height: 35px;
    -fx-background-color: white;
    -fx-text-fill: black;
}
.sub-btn:hover{
    -fx-background-color: rgba(176, 218, 232, 0.85);
    -fx-text-fill: #fff;
}

.titled-pane > .title {
    -fx-background-color: white;
    -fx-padding: 20 10 20 10;
    -fx-border-radius: 8px 8px 8px 8px;
    -fx-alignment: center;
}
.titled-pane{
    -fx-background-color: rgba(128, 128, 128, 0.47);
    -fx-border-color: white;
}
.titled-pane >.title:hover{
    -fx-background-color: rgba(176, 218, 232, 0.85);
    -fx-text-fill: #fff;
}
.text-field1 {
    -fx-alignment: left;
    -fx-border-color: rgba(176, 218, 232, 0.85);
    -fx-border-radius: 8px 0 0 8px;
    -fx-background-radius: 8px;
    -fx-border-width: 3px;
    -fx-font-family: 仿宋;
    -fx-background-color: rgba(238, 214, 214, 0.15);
}
.text-field2 {
    -fx-alignment: left;
    -fx-border-color: rgba(176, 218, 232, 0.85);
    -fx-background-radius: 8px;
    -fx-border-width: 3px;
    -fx-font-family: 仿宋;
    -fx-background-color: rgba(238, 214, 214, 0.15);
}

.button1 {
    -fx-background-color: rgba(176, 218, 232, 0.85);
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
    -fx-font-family: 仿宋;
}
.button2{

     -fx-background-color: white;
     -fx-text-fill: black;
}
.button2:hover{
     -fx-background-color: rgba(176, 218, 232, 0.85);
     -fx-text-fill: #fff;

}
.titled-pane {
   -fx-text-fill: black;


}

.combo-box{
    -fx-background-color: rgba(238, 214, 214, 0.15);
    -fx-background-radius: 8px;
    -fx-border-color: rgba(176, 218, 232, 0.85);
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
}

.combo-box .arrow-button{
    -fx-background-color:rgba(176, 218, 232, 0.85);
    -fx-background-radius: 0 6px 6px 0;
    -fx-border-style:none;
    -fx-border-width: 2px;
    -fx-border-radius: 0 8px 8px 0;
    -fx-border-color: rgba(176, 218, 232, 0.85);
}
